APP_ENV=local

APPOINTMENT_TOKEN=f3396bf9-693d-406d-a812-dd9c913a45ac
BOXOFFICE_TOKEN=YmMxYTdjODEtNmViZS00MTYzLWIzZWMtNzI2M2MzNzMzOGQy
CARMA_TOKEN=8ef26bf9-7b67-4081-b335-745747734a0c
CHECKIN_TOKEN=8222b450-042d-42c4-8a34-4cc3be550449
MAILER_TOKEN=aae12133-7d72-403e-bf24-a61c90f2608b
PARTICIPANTS_TOKEN=79d93cc6-3acb-425b-b5e1-e7bc8f70ea1f
PDF_TOKEN=085b5e40-b554-4b40-b0cc-d040c9627fec
PRODUCTS_MODULE_TOKEN=MTIz
PUBLIC_TOKEN=76e4063b-d348-4827-8f61-718887e1e61c
SALES_API_TOKEN=NjY3YjVkY2MtMTQ4NS00MGQ3LWE5MjktOTc2ZTk2MDA5MjA3
STATISTICS_TOKEN=6e754b4f-6b7b-4e98-be50-73a437478e43
STOCKMANAGEMENT_API_TOKEN=VmVJNU5GVW1qYmhPMmJpOWQ5LWpaZ1BtJHQkbDJtQjdaWjRrbiM2RVB5RjRreVJWdVUxRjY3T0hDenNZbEhlMktQeE5QRVlXamhQI1diaW1XbjljV002Tk1eZ24tWiM3dXNBM3Z1aFVKdmlNbkVFbmYyNmZjQjlJZEdIZG5CTjE=
VENDORS_API_TOKEN=YzExZTBkZjEtMmZkMy00YTcwLWE5ZDAtN2EwNTYzZjAxNDNi